@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    src: url(https://fonts.gstatic.com/s/opensans/v34/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4gaVI.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

input:invalid {
    border: 2px dashed red;
}

input:valid {
    border: 2px solid black;
}

button {
    margin: 10px;
}

input {
    margin: 10px;
}

.home_main_img {
    width: 300px;
}

body {
    font-family: 'Open Sans';
}

h1 {
    padding: 0px;
}

.centered-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    flex: 1;
    margin-left: 10%;
    margin-right: 10%;
}

.row {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    align-items: flex-start;
}

.column {
    display: flex;
    flex-direction: column;
}